body {
  background-color: #1b2535;
  text-align: center;
}

.heading {
  color: #01458d;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
}

.heading1 {
  color: white;
  background-color: #01458d;
}

.heading2 {
  background-color: white;
}

.heading3 {
  background-color: #8ab6d6;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
}

.heading4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.feature-box1{
  text-align: center;
  margin-left: 0%;
  padding: 5%;
}

.feature-box2{
  text-align: center;
  margin-right: 0%;
  padding: 5%;
}

.feature-box3{
  text-align: center;
  margin-right: 0%;
  padding: 5%;
}

#features{
  padding: 2% 30%;
}

.p1 {
  color: #c0fefc;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}

.p2 {
  color: #c0fefc;
  margin-left: 20%;
  margin-right: 15%;
  text-align: justify;
  font-size: 1.15vw;
  font-family: 'Monda', sans-serif;
}

.aims {
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 5%;
}


.btn:hover {
  transition-duration: 0.5s;
}

.btn-outline-warning {
  color: #e1306c;
  border-color: #e1306c;
}

.btn1:hover {
  color: white;
  background-color: #e1306c;
  border-color: #e1306c;
}

.btn1:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


.p3 {
  color: white;
  text-align: justify;
}

.rotate1:hover {
  animation: rotation1 4s infinite linear;
}

.rotate2:hover {
  animation: rotation2 3s infinite linear;
}

.rotate3:hover {
  animation: rotation3 3s infinite linear;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


@keyframes rotation2 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

@keyframes rotation3 {
  to {
    transform: scale(1.8, 1.8);
  }
}
