body{
    background-color:white ; 
}

/*-------image top---------*/
.img-top{
 background-image: url(img/vector/vector11.jpg);
 width:100%;
 height:40vw; 
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.8;
 padding-top:2%;
 
}

/*--------------navbar---------------*/
.blue:hover{
    color:#2dd8f7 !important;
}

#nav-box{
    margin:0 2% 2% ;
    box-shadow: 10px 10px 5px grey;
    
    }

/*========================footer===========================*/
footer {
	padding:20px;
   background:#645fe4 ;                             /* #4f4ae2  !important;  */   
   color:white
}

.subscribe-sec{
    width:100%;
    height:20%;
    background-color: #7d79e7;                      /*#6763e2;*/
}

.icon-align{
vertical-align: -webkit-baseline-middle
}
.icon-f{
    margin-top:10px;
   margin-left: 10px;
   margin-bottom: 0;
   color: whitesmoke;
}

.insta-name:hover{
    color:magenta;
}

.insta-icon:hover, .fb-icon:hover, .yt-icon:hover{
    animation: rotation2 1s 1 linear;
}
.insta-icon:hover{
    color:magenta;
}

.yt-icon:hover {
    color:rgb(226, 6, 6);
}

@keyframes rotation2 {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(359deg);
    }
  }
.sub-footer  {
	background:#343536;
   padding:20px 0;
   color: floralwhite;
   text-align: center;
   margin-top:0;
}

footer h4 {
	margin-bottom:30px;
    margin-left:10%;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:650;
    color:rgb(74, 225, 252);
	
}

.mobile{
  margin-left: -1cm;
}

.footer-mid{
   margin-top:2cm;
   position: relative;
}

.form-group{
  padding: 5px;
  width: 80%;
}

.link-color{
color:white;
text-decoration: none;
}

.admin{
   font-size: large;
   text-align:left;
}

.subscribe_button {
   margin-right: 5px;
 }

