body{
    background-color: #1b2535;
}

.blue:hover{
    color:#2940d3 !important;
}

/*========================footer===========================*/
footer {
	padding:20px;
   background:rgb(14, 13, 13) !important;
   color:white
}

.subscribe-sec{
    width:100%;
    height:20%;
    background-color:#030d4e;
}

.icon-align{
vertical-align: -webkit-baseline-middle
}
.icon-f{
    margin-top:10px;
   margin: 5px;
   margin-bottom: 0;
   color: whitesmoke;
}

.insta-name:hover{
    color:magenta;
}

.fb-icon{
    color:rgb(11, 74, 211);
}
.insta-icon:hover, .fb-icon:hover, .yt-icon:hover{
    animation: rotation2 1s 1 linear;
}
.insta-icon{
    color:magenta;
}

.yt-icon {
    color:rgb(226, 6, 6);
}

@keyframes rotation2 {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(359deg);
    }
  }
.sub-footer  {
	background:#080808;
   padding:20px 0;
   color: floralwhite;
   text-align: center;
   margin-top:0;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#fff;
}

.mobile{
  margin-left: -1cm;
}

.footer-mid{
   margin-top:2cm;
   position: relative;
}

.form-group{
  padding: 5px;
  width: 80%;
}

.link-color{
color:white;
text-decoration: none;
}

.admin{
   font-size: large;
   text-align:left;
}

.subscribe_button {
   margin-right: 5px;
 }

 footer h4{
     color:deepskyblue;
 }
/*---------------------animation boxes---------------------------------*/

    /* For mobile phones: */
    [class*="div-box"] {
        display:inline-block;
        margin:3vw ;
        border-radius:3px; 
        height:15px; 
        width:15px;
}
[class*="left"] {
margin-left:12%;
}
[class*="right"] {
margin-right:12%;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .div-box{
        display:inline-block;
        margin:20px 40px ;
        border-radius:5px; 
        height:30px; 
        width:30px;
    }
    .left{
        margin-left:22%;
    }
    .right{
        margin-right:22%;
    }
}

    /* If the screen size is 500px wide or less, hide the element */
@media only screen and (max-width: 500px) {
  .div-hide {
    display: none;
  }
}
/* ---------------------------------carousel----------------------------- */
   /* If the screen size is 500px wide or less, hide the element */
   @media only screen and (max-width: 500px) {
    .caro-size {
        max-width:100%;
        width:100%;
        max-height:40vh;
        height:40vh;
    }
    .top-img{
        height:50vh;
        max-height:50vh;
    }
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */
.caro-size{
    border-radius:30px;
    max-width:90%;
    width:90%;
    max-height:70vh;
    height:70vh;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:3%;
        }
}

